doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='../static/style.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ZENITH-Digital-Marketing-Platform
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  body
    header
      img.logo(src='../static/images/logo2.jpg', alt='')
      nav
        ul
          li.special
            a(href='/') Home
          li
            a(href='#about') About Us
          li
            a(href='/services') Services
          li
            a(href='#blogs') Blogs
          li
            a(href='#contact') Contact Us
      .menu-toggle
        i.fa.fa-bars
    .image-display
      img(src='../static/images/main.jpg', alt='')
    #about
      h1.heading About Us
      p
        span
          img(src='../static/images/logo2.jpg', alt='')
        br
        br
        |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sunt quasi cupiditate, quo facere
        |       fugiat nam pariatur dolorem corporis harum. At perspiciatis sit ullam ex pariatur ad repudiandae
        |       enim eius optio officia, a necessitatibus?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        |       Vitae eveniet eius quos consectetur delectus et doloremque autem in eum reprehenderit aliquam
        |       perspiciatis quia quam vero provident, aut, nam exercitationem nostrum vel. Explicabo, molestias
        |       nostrum!lorem34 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sint repellendus
        |       tempore ullam impedit pariatur ut autem, quaerat dolore sapiente! Dolor laboriosam optio placeat id
        |       nisi odio! Placeat id necessitatibus neque, amet impedit voluptas! Lorem ipsum, dolor sit amet consectetur
        |       adipisicing elit. Eaque ullam tempore tenetur voluptatem, expedita assumenda sunt, minima dolorum nesciunt
        |       officiis, repellendus nemo similique. Quos modi asperiores, eum aliquam nostrum ab, voluptatibus obcaecati
        |       vero quidem explicabo iusto ratione illo error perspiciatis facere eligendi cum placeat libero,
        |       exercitationem enim esse fugit debitis tenetur quas. Assumenda veniam culpa illo recusandae nesciunt,
        |       molestiae nostrum corporis esse iste dignissimos impedit eaque dolor cumque praesentium quisquam quia
        |       reprehenderit in eveniet commodi. At nesciunt reiciendis, rem placeat quas, consectetur provident ab eveniet
        |       ducimus maiores consequuntur ullam? Sit amet doloribus animi iusto autem tenetur harum repudiandae,
        |       reiciendis deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure, numquam sed
        |       doloremque natus ad minima harum facere eaque suscipit necessitatibus deserunt maxime atque assumenda
        |       voluptatibus quisquam perferendis quas labore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        |       Voluptatibus libero tempora dolor quo. Aperiam porro, facilis explicabo eius ducimus consequuntur unde
        |       accusamus culpa! Sequi aut tempore explicabo vel animi voluptas. Lorem, ipsum dolor sit amet consectetur
        |       adipisicing elit. Dicta pariatur distinctio architecto tenetur sequi exercitationem, iste eligendi sunt?
        |       Dolores odit magnam tempore. Molestias ab maiores ducimus ad, qui alias beatae! Lorem ipsum dolor, sit amet
        |       consectetur adipisicing elit. Suscipit aliquam esse delectus! Esse ad assumenda, dolore exercitationem, qui
        |       molestiae adipisci dolorum eaque porro quaerat ipsa provident laborum voluptas, dolorem modi? Lorem ipsum
        |       dolor, sit amet consectetur adipisicing elit. Et quibusdam distinctio nemo similique blanditiis consequuntur
        |       dolor non illo sint architecto dolorum suscipit aspernatur molestiae, ut hic ad. Eveniet, reprehenderit
        |       aliquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut officia harum, obcaecati facilis
        |       explicabo placeat saepe natus repellendus adipisci consequuntur expedita? Tempora facere sunt aliquid error
        |       unde atque repellat minus.
    #blogs.header
      h4 Blogs
    .row
      .leftcolumn
        .card
          h1 Social media explorer
          br
          br
          h4 Best tips for blogging
          br
          br
          .fakeimg
            a(href='https://socialmediaexplorer.com/')
              img(src='../static/images/media3.jpg', alt='')
        .card
          h1 Web Development Blogs
          br
          br
          h4 How to implement and create a website
          br
          br
          .fakeimg
            a(href='https://usersnap.com/blog/12-best-web-development-blogs-reading-right-now/')
              img(src='../static/images/webdevelopment.jpg', alt='')
      .rightcolumn
        .card
          h3 Popular Post
          .fakeimg
            a(href='https://www.webconfs.com/seo-articles/best-seo-articles/')
              img(src='../static/images/seo1.png', alt='')
              |  Seo famous articles
          br
          .fakeimg
            a(href='https://www.bigcommerce.com/ecommerce-answers/what-is-paid-media-and-how-is-it-used-by-online-businesses/')
              img(src='../static/images/paid1.jpg', alt='')
              | Paid media
              article
          br
          .fakeimg
            a(href='https://buffer.com/social-media-marketing')
              img(src='../static/images/socialmedia.jpg', alt='')
              | Social media Marketing
          br
          .fakeimg
            a(href='https://searchengineland.com/guide/what-is-seo')
              img(src='../static/images/seo2.png', alt='')
              | All about SEO
          br
          .fakeimg
            a(href='https://www.bluefountainmedia.com/blog/2017-why-paid-media-is-more-important-than-ever-this-year')
              img(src='../static/images/paid2.png', alt='')
              | Why paid media
          br
          .fakeimg
            a(href='https://buffer.com/library/social-media-management-tools/')
              img(src='../static/images/media2.jpg', alt='')
              | Social media tools
          br
    #contact
      h2.contact-heading Contact Us
      br
      #contact-box
        form(action='/', method='post')
          b(style='font-size: 1.3rem;') First Name:         
          input#name(type='text', name='first', placeholder='  Enter your first name')
          br
          br
          br
          b(style='font-size: 1.3rem;') Last Name:       
          input#last(type='text', name='last', placeholder='  Enter your last name')
          br
          br
          br
          b(style='font-size: 1.3rem;') Contact No:       
          input#phone(type='number', name='contact', placeholder='   your phone number')
          br
          br
          br
          b(style='font-size: 1.3rem;') Email Id:       
          input#email(type='email', name='email', placeholder='   your mail id')
          br
          br
          br
          b(style='font-size: 1.3rem;') Company Name:       
          input#company(type='text', name='company', placeholder='   Enter your company name')
          br
          br
          br
          button#call.btn Submit
    #thank
      | Thank you for contacting us, we will get back to you shortly 
      br
      br
    footer
      .ending
        .end
          ul
            li Quick Links
            li
              a(href='/') Home
            li
              a(href='#about') About Us
            li
              a(href='/services') Services
            li
              a(href='#blogs') Blogs
            li
              a(href='#contact') Contact Us
        .straight
          h3(style='margin-top: 0px;')
            a(href='tel:8108785088') Contact Us On: 8108785088
          h3
            a(href='https://mail.google.com/mail/u/0/#inbox?compose=new') Email Us On: vikasyadav281998@gmail.com
          .media
            h2 Follow Us On 
            a(href='https://www.facebook.com/')
              img(src='../static/images/facebook.jpg', alt='facebook')
            a(href='https://www.instagram.com/')
              img(src='../static/images/instagram.jpg', alt='instagram')
            a(href='https://twitter.com/home?lang=en')
              img(src='../static/images/twitter.png', alt='twitter')
      br
      br
      hr
      br
      br
      p
        | Copyright www.digitalmarketing.com @all rights reserved 2020
        script(type='text/javascript').
          $(document).ready(function() {
          $('.menu-toggle').click(function() {
          $('nav').toggleClass('active')
          });
          });
          function getting() {
          var name = document.getElementById("name").value;
          var last = document.getElementById("last").value;
          var phone = document.getElementById("phone").value;
          var email = document.getElementById("email").value;
          var company = document.getElementById("company").value;
          if (name === "" || phone == 0 || last === "" || email === "" || company === "") {
          alert("Please enter all the values properly");
          } else {
          //- document.getElementById("thank").style.display = "block";
          alert("Thank you for contacting Us, we will get back to you shortly");
          }
          }
          document.getElementById("call").onclick = function() {
          getting();
          };
          